<section class="main-area">
  <div class="button-container">
    <%= button_to "Importar dados", "#", method: :get, class: "btn", disabled: true %>
    <%= button_to "Editar Templates", "#", method: :get, class: "btn-locked", disabled: true %>
    <%= button_to "Enviar Formularios", "#", method: :get, class: "btn-locked", disabled: true %>
    <%= button_to "Resultados", "#", method: :get, class: "btn-locked", disabled: true %>
  </div>
</section>