@media (max-width: 768px) {
    .alert {
        left: 0;
    }
    .formularios-list {
        justify-content: center;
    }
}

.alert {
    position: relative;
    margin-bottom: 1rem;
    background: #ffeeba;
    color: #856404;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

.main-area {
    display: block;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.formularios-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
}

.formulario-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    min-width: 0;
    overflow: hidden;
    background: #f9f9f9;
}

.download-btn {
     display: inline-block;
     padding: 0.25rem 0.5rem;
     background-color: #651b5a;
     color: #fff;
     text-decoration: none;
     border-radius: 6px;
     font-weight: bold;
     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     transition: background-color 0.3s ease;
     float: right;
     margin-left: auto;
 }

.download-btn:hover {
    background-color: #500645;
}